/*General Structure of the Page-----------------------------------------------------------------*/
@import url("C:/Users/mervi/Desktop/UofT/Basic-Portfolio/assets/css/Main.css");

/*About Page Formatting-----------------------------------------------------------------------*/
p.text {
    margin-top:0px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    }
