
/*About Page Formatting-----------------------------------------------------------------------*/
p.text {
    margin-top:0px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    }
